<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>

<header>
  <% include partials/header %>
</header>

<body id="flightcode">
  <h3>Enter flight code</h3>
  <form action="http://localhost:3000/getflight" method="post">
    <input type="text" name="flightcode" placeholder="Enter Flight Code here">
    <button class="btn waves-effect blue-grey" type="submit" name="action">Submit</button>
  </form>

  <% if (JSON.stringify(flight).length>20) { %>
  <p>The details for flight <%= flight["code"] %>:</p>
  <table class="flights bordered responsive-table">
    <tr>
      <th>Code</th>
      <th>Departure City</th>
      <th>Arrival City</th>
      <th>Carrier</th>
      <th>Days of Week</th>
    </tr>
    <tr>
      <td><%= flight["code"] %></td>
      <td><%= flight["departure"] %></td>
      <td><%= flight["arrival"] %></td>
      <td><%= flight["carrier"] %></td>
      <td><%= flight["DaysOfWeek"] %></td>
    </tr>
  </table>
  <% } else if (flight=="not found") { %>  
   <p>Sorry! No flight found for this code. Try entering a new code.</p>
  <% } %>

  <h3>All flights</h3>
  <table id="allflights" class="bordered responsive-table">
    <tr>
      <th>Code</th>
      <th>Departure City</th>
      <th>Arrival City</th>
      <th>Carrier</th>
      <th>Days of Week</th>
    </tr>
  </table>
</body>

</html>
